<div class="slides">
<!--  <ion-slides [options]="slidesOptions"> -->
    <!-- <ion-slide style="margin-left: -0.9rem;"> -->
      <ion-row class="ion-align-items-center">


    <ion-col class="align__">
      <p class="texto_info">Total Gasto Mensal: {{addDataService?.totalDispesas | number: '1.2-2'}} MT</p>
      <!-- <ion-icon></ion-icon> -->
      <div class="main">
<ion-icon style="transform: rotate(180deg);" name="download"></ion-icon>       </div>

    </ion-col>
    <!-- <ion-col>
      <ion-card>
        <ion-card-subtitle class="text-info">Bom</ion-card-subtitle>
        <ion-card-header>
          <div class="main">
            <img src="../../../assets/icon/status1.png">
          </div>

        </ion-card-header>

      </ion-card>
    </ion-col> -->
  </ion-row>







    <!-- </ion-slide> -->
</div>
