

.hacking-datetime {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .check-view{
    width: 33px;
    height: 38px;
    /* font-size: 20px; */
    margin: 8px;
  }
